<nav class="main-menu">
  <ul>
      <li>
          <a href="/">
              <mat-icon class="fa fa-home fa-2x">done_all</mat-icon>
              <span class="nav-text">
                My gay porn
              </span>
          </a>
        
      </li>
      <li class="has-subnav">
          <a href="/">
              <mat-icon class="fa fa-globe fa-2x">grade</mat-icon>
              <span class="nav-text">
                  Gachi collection
              </span>
          </a>
          
      </li>
      <li class="has-subnav">
          <a href="/">
            <mat-icon class="fa fa-globe fa-2x">credit_card</mat-icon>
              <span class="nav-text">
                 Earned money only fans
              </span>
          </a>
          
      </li>
  </ul>

  <ul class="logout">
      <li>
         <a href="/">
               <mat-icon class="fa fa-power-off fa-2x">power_settings_new</mat-icon>
              <span class="nav-text">
                  Logout
              </span>
          </a>
      </li>  
  </ul>
</nav>