/* .main-info-card {
    height: 80%;
    width: 80%;
    background-color:azure;
    border-radius: 30px;
    display: flex;
    position: absolute;
    right: 50px;
    top: 100px;
} */
.example-card {
    max-width: 400px;
    display: flex;
    position: absolute;
    right: 100px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }