<section>
  <mat-toolbar color="primary">
    <span>
      <mat-icon class="colored-icon">restaurant</mat-icon>
    </span>
    <span class="text">Food Delivery</span>
    <span class="fill-remaining-space"></span>
    <!-- <button mat-button>
      <span class="text">Menu Option 01</span>
    </button> -->
    <!-- <button mat-button class="text">Menu Option 02</button>
    <button mat-button class="text">Login</button>
    <button mat-button class="text">Logout</button> -->
  </mat-toolbar> 
</section>
