.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card {
    min-width: 400px;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
  }