.main-image {
   // flex fixed h-full w-full
    // display: flex;
    // position: fixed;
    // align-content: center;
    height: 40%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto
}